@using NSE.WebApp.MVC.Extensions.Helpers
@model TransactionViewModel

<article class="card-body border-top">
    <dl class="row">
        @if (Model.HasVoucher)
        {
            <dt class="col-sm-10">Amount: <span
                                              class="float-right text-muted">@Model.Items.Sum(i => i.Quantity) items</span></dt>
            <dd class="col-sm-2 text-right">
                <strong>@(this.FormatMoney(Model.Amount + Model.Discount))</strong>
            </dd>

            <dt class="col-sm-10">Discount: <span class="float-right text-muted">@Model.Voucher</span></dt>
            <dd class="col-sm-2 text-danger text-right">
                <strong>@(this.FormatMoney(Model.Discount))</strong>
            </dd>
        }
        <dt class="col-sm-10">Total:</dt>
        <dd class="col-sm-2 text-right">
            <strong class="h5 text-dark">@(this.FormatMoney(Model.Amount))</strong>
        </dd>
    </dl>
</article>